<!DOCTYPE html>
<html lang="en">
<head>
    <title> Diagrama radial</title>
    <meta charset="utf-8">
    <style>    </style>
    <script src="http://d3js.org/d3.v4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="diaSemana_hora.html">Uso por día de la semana frente a hora</a></li>
        <li><a href="mes_hora.html">Uso por mes frente a hora</a></li>
        <li><a class="active" href="dia_hora.html">Uso por día del año frente a hora</a></li>
        <li><a href="estaciones_heatmap.html">Uso de las estaciones</a></li>

    </ul>

    <div class="cuerpo" id="chart">
        <h1> Uso de las bicicletas públicas según el día del año y la hora del día </h1>


    <script type="text/javascript" src="../static/js/diaHora.js"></script>
</div>
</body>
</html>
